*{
    margin:0;
    padding: 0;
   
}

html {
    font-size: large;
   
}

body {
    text-align: center;
    margin: 0.5cm;
 
}

.logo {
    text-align: center;
    padding-top: 40px;


    
    
}

.login{
    border: 1px black solid ;
    border-radius: 25cm;
    width: fit-content;
    margin-top: -2.8cm;
    margin-left: 37.5cm;

    
}
.shop {
   
    width: fit-content;
    margin-top: -0.7cm;
    margin-left: 38.5cm;
}
.ariane{
      display: inline-flex;
     
      text-align: center;
      margin-top: 75px;
      list-style:none;
      color: #3b1902;
      letter-spacing: 2px;
      border-bottom: 1px black solid;
      padding-bottom: 0.5cm;
      width: fit-content;
      padding-left: 3.5cm;
      padding-right: 3.5cm ;
      }

 li{
     padding-left: 0.45cm;
     padding-right: 0.45cm;
     text-align: center;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-variant: small-caps;
     width: fit-content

 }

 li:hover {
    text-transform: uppercase;
   
 }

 article{
    border-bottom: 1px black solid;
     width: 30cm;
     display: inline-flex;
     padding-bottom: 1.5cm;
     padding-top: 1.5cm;
    }
    .premium {
       display: block;
       padding-top: 3cm;
       text-align: left;
       padding-left: 1.5cm;
       font-size: xx-large;
       
    }
    #drops {
       display: block;
       font-size: large;
       margin-top: 1.2cm;
       border: solid #f3c22c 10px;
       width: fit-content;
       height: fit-content;
       background-color: #f3c22c;
       padding-top: 0.2cm ;
       padding-bottom: 0.2cm;
       padding-left: 0.6cm;
       padding-right: 0.6cm;
       border-radius: 0.05cm;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       font-variant: small-caps;
       color: aliceblue;
      }

      .fortunate{
          font-size: xx-large;
          text-align: center;
          width: 23cm;
          display: inline;
          margin-left: 4cm;

          
          
          
          
      }
      #fred{
          font-size:medium;
          font-style: oblique;
          padding-top: 1cm;
         
      }
      #please {
        font-size:medium;
        padding-top: 1cm ;
       
      }
      a:visited{
          color: black;
      }

      .photos {
          display: flex;
          
      }

      #cacao{
          background-image: url(/images/sac-blondeel.webp);
          padding-top:4cm;
          padding-bottom: 4cm;
          background-size: cover;
          color: aliceblue;
          font-size: larger;
        width: 522px;
         }

       #product{
           background-image: url(/images/barre.webp);
           padding-top:4cm;
           border-bottom: 4cm;
           padding-left: 3.5cm;
           padding-right: 3.5cm;
           background-size: cover;
           margin-left: 0.75cm;
           text-decoration: underline;
           font-variant: small-caps;
           text-align: center;
           font-size: larger;
           width: 275px;
       }  

       
    #master {
        font-size: xx-large;
        margin-left: 9cm;
        margin-top: -1cm;
    }

    .magicBox{
       text-align: left;
       background-image: url(/images/barre-noisette.webp);
       background-position: 50%;
       color: rgba(11, 12, 12, 0%);
       background-size: cover;
       height: 260px;
       width: 240px;
       background-repeat: no-repeat;
       padding-right: 1cm;
       z-index: 1;
       
      


       
       
       
    }
    
    .magicBox:hover{
       will-change: contents;
       background-image: url(/images/barre-noisette-alt.webp);
       color: black;
       z-index: 1;
       
       
       
       
        
        
    }

    .slide {
        display: inline;
    }

    .shopy{
  
       
    }
 
        
       

    

    